
.vs/*
Backup1/*
Backup2/*
Backup3/*
Backup4/*
Backup5/*
baseq2/*
baseq2/save/*
baseq2/config.cfg
baseq2/save/save0/game.ssv
baseq2/save/save0/server.ssv
ctf/debug/*
debug/*
game/debug/*
ref_gl/debug/*
ref_soft/debug/*
UpgradeLog.htm
UpgradeLog2.htm
UpgradeLog3.htm
UpgradeLog4.htm
UpgradeLog5.htm
UpgradeLog6.htm